# Project exclude paths
/a11y/rules.d.ts
/a11y/rules.js
/src/Markdown/__mocks__/markdown.mock.d.ts
/src/Markdown/__mocks__/markdown.mock.js
/src/Markdown/__mocks__/markdownTextareaHelpers.mock.d.ts
/src/Markdown/__mocks__/markdownTextareaHelpers.mock.js
/src/Markdown/Files/Files.logic.d.ts
/src/Markdown/Files/Files.logic.js
/src/Markdown/MarkdownHelpers/MarkdownButton.d.ts
/src/Markdown/MarkdownHelpers/MarkdownButton.js
/src/Markdown/MarkdownHelpers/MarkdownCombination.d.ts
/src/Markdown/MarkdownHelpers/MarkdownCombination.js
/src/Markdown/MarkdownHelpers/MarkdownFormatButton.d.ts
/src/Markdown/MarkdownHelpers/MarkdownFormatButton.js
/src/Markdown/MarkdownHelpers/markdownHelpers.d.ts
/src/Markdown/MarkdownHelpers/markdownHelpers.js
/src/Markdown/MarkdownHelpers/markdownMentionHelpers.d.ts
/src/Markdown/MarkdownHelpers/markdownMentionHelpers.js
/src/Markdown/MarkdownHelpers/markdownTextareaHelpers.d.ts
/src/Markdown/MarkdownHelpers/markdownTextareaHelpers.js
/src/MarkdownIcons/AttachLink.d.ts
/src/MarkdownIcons/AttachLink.js
/src/MarkdownIcons/AttachPaperclip.d.ts
/src/MarkdownIcons/AttachPaperclip.js
/src/MarkdownIcons/CheckedList.d.ts
/src/MarkdownIcons/CheckedList.js
/src/MarkdownIcons/Collapse.d.ts
/src/MarkdownIcons/Collapse.js
/src/MarkdownIcons/Expand.d.ts
/src/MarkdownIcons/Expand.js
/src/MarkdownIcons/EyeOpen.d.ts
/src/MarkdownIcons/EyeOpen.js
/src/MarkdownIcons/List.d.ts
/src/MarkdownIcons/List.js
/src/MarkdownIcons/MarkdownIcons.styled.d.ts
/src/MarkdownIcons/MarkdownIcons.styled.js
/src/MarkdownIcons/NumberedList.d.ts
/src/MarkdownIcons/NumberedList.js
/src/MarkdownIcons/Table.d.ts
/src/MarkdownIcons/Table.js
/src/MarkdownIcons/ToolPencil.d.ts
/src/MarkdownIcons/ToolPencil.js
/src/Markdown/utils/guid.d.ts
/src/Markdown/utils/guid.js
/src/Markdown/utils/htmlToMd.d.ts
/src/Markdown/utils/htmlToMd.js
/src/Markdown/utils/isMacintosh.d.ts
/src/Markdown/utils/isMacintosh.js
/src/Markdown/utils/requestStatus.d.ts
/src/Markdown/utils/requestStatus.js
/src/Markdown/utils/saveFile.d.ts
/src/Markdown/utils/saveFile.js
/src/Markdown/constants.d.ts
/src/Markdown/constants.js
/src/Markdown/Markdown.d.ts
/src/Markdown/Markdown.js
/src/Markdown/Markdown.styled.d.ts
/src/Markdown/Markdown.styled.js
/src/Markdown/MarkdownActions.d.ts
/src/Markdown/MarkdownActions.js
/src/Markdown/MarkdownEditor.d.ts
/src/Markdown/MarkdownEditor.js
/src/Markdown/MarkdownFormat.d.ts
/src/Markdown/MarkdownFormat.js
/src/Markdown/MarkdownHelpItems.d.ts
/src/Markdown/MarkdownHelpItems.js
/src/Markdown/MarkdownMention.d.ts
/src/Markdown/MarkdownMention.js
/src/Markdown/types.d.ts
/src/Markdown/types.js
/src/MarkdownViewer/Helpers/MarkdownImage.d.ts
/src/MarkdownViewer/Helpers/MarkdownImage.js
/src/MarkdownViewer/Helpers/MarkdownLink.d.ts
/src/MarkdownViewer/Helpers/MarkdownLink.js
/src/MarkdownViewer/index.d.ts
/src/MarkdownViewer/index.js
/src/MarkdownViewer/MarkdownViewer.d.ts
/src/MarkdownViewer/MarkdownViewer.js
/src/MarkdownViewer/MarkdownViewer.styles.d.ts
/src/MarkdownViewer/MarkdownViewer.styles.js
/src/MarkdownViewer/types.d.ts
/src/MarkdownViewer/types.js
/src/styles/styled-components.js
/src/styles/theme.d.ts
/src/styles/theme.js
/src/styles/types.d.ts
/src/styles/types.js
/index.d.ts
/index.js
node_modules
/yarn-error.log
.idea
.vscode
lerna-debug.log
.DS_Store
creevey/report
.swc